@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins&family=Ubuntu&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Great Vibes', cursive; */
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Ubuntu', sans-serif;
  background-color: #717171;

}

img , h1 , section ,article,div,span, strong{
  background-color: transparent;
}

::-webkit-scrollbar {
  background-color: #8c0327a9;
  width: 5px; 

}
::-webkit-scrollbar-thumb {
  background-color: #0a2ab9;

}


::-webkit-scrollbar-button {
  display: none; 
}